.login-container {
    margin: 34%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: absolute;
}

.login-form  {
    color: black;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
  }

  h1 {
      font-size: 15px;
  }
  h3 {
      font-size: 10px;
  }

.login-input, select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .login-submit {
    margin-top: 11px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }

.hands-container {
    /* margin: 20%;
    height: 200px;
    width: 50%; */
}
  .hands {
    height: 200px;
    /* width: 50%; */
  }